.mi-barra{
    background-color: #062244;
    color: whitesmoke;
}


[class*="col"] {
    
}

.pie-pag{
    background-color: #062244;
    font: white;
}

.head-user{
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 5%;
    /* border-radius: 0.50rem; */
    border-bottom: .5px solid grey;
    height: 3.5rem;
}
.cajero{
    margin-top: 5%;
    margin-bottom: 5%;
    /* height: 400px; */
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    /* word-wrap: break-word; */
    background-color: rgba(42, 167, 203, 70%);
    background-clip: border-box;
    /* border: .3px solid rgba(0, 0, 0, 0.125); */
    border-radius: 0.25rem;
}
[class*="btn-primary"]{
    margin-bottom: 2%;
    background-color: #008483;
    border-color: aliceblue;
    height: 30%;
    width: 30%;
}

.logito{
    width: 40%;
}

.cajones{
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    background-color: #D6D6DE;
    /* font-family: 'Noto Sans', sans-serif */
}

.card {
    border: none;
    border-radius: 10px;
    width: 40%;
    margin: 10%
}

.text-dark {
    font-weight: bold;
    margin-top: 8px;
    font-size: 13px;
    letter-spacing: 0.5px
}

.card-bottom {
    background: #3E454D;
    border-radius: 6px
}

.flex-column {
    color: #adb5bd;
    font-size: 13px
}

.flex-column p {
    letter-spacing: 1px;
    font-size: 18px
}

.btn-secondary {
    height: 40px !important;
    margin-top: 3px
}

.btn-secondary:focus {
    box-shadow: none
}